/* ----- Global Styles ----- */

/* Navigation Bar */
/* body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  }
   */
   .hamburger {
    cursor: pointer;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 30px;
    height: 30px;
    margin-left: 1.5rem;
  }
  
  .hamburger-line {
    background-color: white;
    width: 100%;
    height: 2px;
    margin: 3px 0;
  }
  
  /* Hide the nav menu items by default */
  #index-navbar-container {
    display: none;
  }
  
  /* Show the nav menu items when the menu is active */
  #index-navbar-container.active {
    display: flex;
  }
   header {
    display: block;
    background-image: linear-gradient(to top, #002e5d 0%, #2b6ca3 50%, #2b6ca3 100%);
    color: #fff;
    padding: 0.2rem;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .logo-container img {
    width: 5rem;
    height: auto;
    padding-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .logo-container h1 {
    font-size: 1.4rem;
    font-family: 'Space Grotesk', Arial, sans-serif;
    color: #B0E0E6;
  }
  
  nav {
    display: flex;
    justify-content: left;
    background-color: transparent;
    margin-bottom: 0.2rem;
    margin-top: 0.3rem;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav li {
    margin: 0 0.5rem;
    border-bottom: 0.2rem solid lightgray;
    position: relative;
  }
  
  nav li:last-child {
    border-right: none;
  }
  
  nav li a {
    display: block;
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
  }
  nav li a:hover {
    background-color: #002e5d;
    color: #B0E0E6;
  }
  
  nav li.active {
    background-color: #002e5d;
    color: #B0E0E6;
  }
  
  nav li.active a {
    color: #fff;
  }
  
  /* Footer */
  footer {
    background-color: #2b6ca3;
    padding: 0.2rem;
    text-align: center;
    height: 5rem;
  }
  
  #social-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #social-links img {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
  }
  

/* ----- Home Styles ----- */

body{
  background-color: lightcyan;
}

#index-slideshow {
  padding: 5rem 1rem;
  position:relative;
  height: 10rem; /* updated for mobile */
  max-width: 100%; /* updated for mobile */
  border-radius: 5rem;
  border: #2b6ca3;
}

#index-slideshow img {
  position: absolute;
  height: 18rem;
  width: 22rem;
  top: 0.5rem;
  bottom: 0.5rem;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

#index-slideshow img.slide {
  opacity: 1;
}

#about-us{
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 100%; /* updated for mobile */
  padding: 10px;
  border-radius: 1.25rem;
  background-color: lightseagreen;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#about-us h1{
  font-family: 'Special Elite', 'Comic Sans MS', cursive;
  text-align: center;
  font-size: 24px; /* updated for mobile */
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 0.5rem;
  color: #333;
}

#about-us p{
  padding: 10px;
  text-align: center;
  font-family:'Noto Serif Khojki', Georgia, serif;
  font-size: 13px; /* updated for mobile */
  background-color: #fff;
  color: #555;
  border-radius: 1.25rem;
  line-height: 1.5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#about-us h2{
  padding-left: 0.5rem;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  font-family: 'Special Elite', 'Comic Sans MS', cursive;
  text-align: left;
  font-size: 20px; /* updated for mobile */
  color: #333;
}

#about-us-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px; /* updated for mobile */
  color: #555;
  margin-left: 3rem;
  color: navy;
  font-weight:400;
}

#about-us-bullets li{
  margin-bottom: 10px;
  position: relative;
}

#about-us-bullets li:before {
  content: '\25CF'; /* Unicode character for bullet */
  display: inline-block;
  margin-right: 10px;
  color: #444;
  position: absolute;
  left: -20px;
  top: 5px;
  font-size: 14px;
}

#about-us-bullets li:last-child{
  margin-bottom: 0;
}

#about-us-bullets li a{
  color: #777;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

#about-us-bullets li a:hover{
  color: #333;
}

/* ----- Journal Styles ----- */

/* ----- Membership Styles ----- */
#donate-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
}

#popup-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#popup {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px grey;
}

#popup h2 {
  margin-top: 0;
}

#popup form {
  display: flex;
  flex-direction: column;
}

#popup input[type="text"] {
  margin-bottom: 10px;
  padding: 5px;
}

#popup button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  flex: 1;
}

#popup button:first-child {
  margin-right: 5px;
}

#popup button:last-child {
  margin-left: 5px;
}

#popup button:hover {
  background-color: black;
  color: white;
}

#close-button {
  margin-right: auto;
  align-self: flex-end;
}

#paypal-button {
  margin-left: auto;
  align-self: flex-end;
  margin-top: auto;
}

/* Media queries when the screen gets larger */
@media screen and (min-width: 630px) {
  /* ----- Global Styles ----- */

/* Navigation Bar*/

header {
  padding: 15px;
}

.logo-container img {
  width: 8.375rem;
  height: 8.313rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.logo-container h1 {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

nav {
  padding: 5px 0;
}

nav li {
  margin: 0 5px;
  border-right: 2px solid lightgray;
  position: relative;
}

/* Footer */
footer {
  margin-top: 1.0rem;
  background-color: #2b6ca3;
  padding: 40px;
  text-align: center;
}

/* ----- Home Styles ----- */

#index-slideshow {
  padding: 5rem 1rem;
  position: relative;
  height: 150px;
  margin: 0 auto;  
}

#index-slideshow img {
  position: absolute;
  margin-left: 180px;
  height: 300px;
  width: 300px;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  border-radius: 1.5rem;
}

#index-slideshow img.slide {
  opacity: 1;
}


/* ----- Journal Styles ----- */


/* ----- Membership Styles ----- */
#donate-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
}

#popup-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#popup {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px grey;
}

#popup h2 {
  margin-top: 0;
}

#popup form {
  display: flex;
  flex-direction: column;
}

#popup input[type="text"] {
  margin-bottom: 10px;
  padding: 5px;
}

#popup button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  flex: 1;
}

#popup button:first-child {
  margin-right: 5px;
}

#popup button:last-child {
  margin-left: 5px;
}

#popup button:hover {
  background-color: black;
  color: white;
}

#close-button {
  margin-right: auto;
  align-self: flex-end;
}

#paypal-button {
  margin-left: auto;
  align-self: flex-end;
  margin-top: auto;
}
  
}

/* Media queries when the screen gets even larger */

@media screen and (min-width: 720px) {
/* ----- Global Styles ----- */

/* Navigation Bar*/

header {
  padding: 19px;
}

.logo-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;  
}

.logo-container img {
  width: 11.375rem;
  height: 11.313rem;
  padding-left: 0.1rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.logo-container h1 {
  font-size: 2.5rem;
  margin-left: 0.7rem;
}

nav {
  padding: 15px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  border-right: 3px solid #fff;
}

nav li a {
  display: block;
  color: #B0E0E6;
  font-size: 20px;
  padding: 10px;
}

nav li.active {
  background-color: #002e5d;
}

nav li.active a {
  color: #fff;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}

/* Footer */
footer {
  margin-top: 1.0rem;
  background-color: #2b6ca3;
  padding: 50px;
  text-align: center;
}
 
#social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
 
#social-links img {
  width: 60px;
  height: 50px;
  margin: 0 10px;
}

@media only screen and (max-width: 720px) {
  #dialogue img {
    width: 20rem;
    height: 24rem;
    max-width: 100%;
  }
}

/* ----- Home Styles ----- */
#index-slideshow {
  padding: 5rem 1rem;
  position: relative;
  height: 300px;
  margin: 0 auto;  
}

#index-slideshow img {
  position: absolute;
  margin-left: 450px;
  height: 450px;
  width: 450px;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  border-radius: 1.5rem;
}

#index-slideshow img.slide {
  opacity: 1;
}

#about-us{
  margin: 1rem auto;
  max-width: 800px; 
  padding: 16px;
  border-radius: 1.25rem;
  background-color: lightseagreen;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.0rem;
}

#about-us h1{
  font-family: 'Special Elite', cursive;
  text-align: center;
  font-size: 40px;
  margin-top: 0;
  padding-top: 20px;
  color: #333;
}

#about-us p{
  padding: 10px 20px;
  text-align: justify;
  font-size: 18px;
  background-color: #fff;
  color: #555;
  border-radius: 1.25rem;
  line-height: 1.5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#about-us h2{
  padding: 10px 20px;
  text-align: left;
  font-size: 30px;
  margin-top: 40px;
  color: #333;
}

#about-us-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #555;
  margin-left: 20px;
  color: navy;
  font-weight:400;
}

#about-us-bullets li{
  margin-bottom: 10px;
  position: relative;
}

#about-us-bullets li:before {
  content: '\25CF'; /* Unicode character for bullet */
  display: inline-block;
  margin-right: 10px;
  color: #444;
  position: absolute;
  left: -20px;
  top: 5px;
  font-size: 14px;
}

#about-us-bullets li:last-child{
  margin-bottom: 0;
}

#about-us-bullets li a{
  color: #777;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

#about-us-bullets li a:hover{
  color: #333;
}

/* ----- Journal Styles ----- */


/* ----- Membership Styles ----- */
#donate-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
}

#popup-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#popup {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px grey;
}

#popup h2 {
  margin-top: 0;
}

#popup form {
  display: flex;
  flex-direction: column;
}

#popup input[type="text"] {
  margin-bottom: 10px;
  padding: 5px;
}

#popup button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  flex: 1;
}

#popup button:first-child {
  margin-right: 5px;
}

#popup button:last-child {
  margin-left: 5px;
}

#popup button:hover {
  background-color: black;
  color: white;
}

#close-button {
  margin-right: auto;
  align-self: flex-end;
}

#paypal-button {
  margin-left: auto;
  align-self: flex-end;
  margin-top: auto;
}

}



